<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="footer-links">
          <a href="#"><i class="fab fa-github text-white"></i></a>
          <a href="#"><i class="fab fa-instagram text-white"></i></a>
          <a href="#"><i class="fab fa-facebook text-white"></i></a>
          <a href="#"><i class="fab fa-twitter text-white"></i></a>
          <a href="#"><i class="fab fa-linkedin text-white"></i></a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="footer-copyright text-right">
          <p class="text-white">Made with <i class="fas fa-heart"></i> at Streemer</p>
        </div>
      </div>
    </div>
  </div>
</div>
