<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="footer-links justify-content-centre">
          <a href="#"><i class="fab fa-instagram text-white"></i></a>
          <a href="#"><i class="fab fa-facebook text-white"></i></a>
          <a href="#"><i class="fab fa-twitter text-white"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
