<div class="container">

<h2 class="text-center" >Current Events</h2>

<div class="container">
    <% @live_events.each_with_index do |event, index| %>
      <div class="card mb-3 ">
        <div class="container card-header d-flex justify-content-between">
          <h5 class=""><%= link_to event.name, event_path(event), class: "text-decoration-none" %></h5>
          <!-- ============================================================= -->

          <!-- ============================================================= -->
          <i class="far <%= @icons[index] %>"></i>
        </div>
        <div class="card-body text-center">
          <p>Starts in </p>
          <p><%= render 'counter', event: event, index: index  %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
