<div class="container-fluid event-show">
  <h2 class="ml-5 pt-1 mt-3 mb-3"><%= @event.name %></h2>
  <%= link_to "Live Stream", stream_event_path %>
</div>
<%#= link_to "Return to view all artists", events_path, class: "text-decoration-none" %>


