<div class="wrapper">
  <div class="gradient">
    <div class="home-banner">
    <video autoplay muted loop id="musicVideo">
      <source src="https://res.cloudinary.com/dri7xzd5a/video/upload/v1583267895/1044061171-preview_y058cn.mp4" type="video/mp4">
    </video>

    <div class= "video-text">
    <h2 class="justify-content-left text-white mb-3">Livestream and Discover Street Artists</h2>
    <%= link_to "Find Local Artists", map_path, class: "btn btn-success text-white" %>
    </div>
    </div>
  </div>
</div>

  <div class = "container mb-5">
    <div class = "row">
      <div class = "col-lg-3 flex-grow">
        <div class="card-home mt-2">

          <a class="card-home" style="background-image: url(https://res.cloudinary.com/dri7xzd5a/image/upload/v1583789388/map_qrwd9b.jpg)"></a>
          <h2>Discover : street artists nearby</h2>
          </div>

          <div class="card-home mt-2">
          <h2>Support : the art and make a difference</h2>
          <a class="card-home" style="background-image: url(https://res.cloudinary.com/dri7xzd5a/image/upload/v1583789406/tip_zkndwd.jpg)"></a>
          </div>

          <div class="card-home mt-2">
          <h2>Enjoy: this amazing experience live</h2>
          <a class="card-home" style="background-image: url(https://res.cloudinary.com/dri7xzd5a/image/upload/v1583789379/people_wft1mp.jpg)"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

