<div class="wrapper">
  <div class="gradient">
    <div class="home-banner">
    <video autoplay muted loop id="musicVideo">
      <source src="https://res.cloudinary.com/dri7xzd5a/video/upload/v1583267895/1044061171-preview_y058cn.mp4" type="video/mp4">
    </video>

    <div class= "video-text">
    <h2 class="justify-content-left text-white mb-3">Livestream and Discover Street Artists</h2>
    <%= link_to "Find Local Artists", map_path, class: "btn btn-success text-white" %>
    </div>
    </div>
  </div>
</div>
