<div class="container headshot shadow-lg">
  <div class="container performer-bio">
    <div class="row nopadding">
      <div class="col-sm col-lg-12 text-center performer-name">
        <p>YAEL</p>
      </div>
    </div>
    <div class="row nopadding">
      <div class="col-sm col-lg-12 text-center">
        <p><%= performer.email %></p>
      </div>
    </div>
  </div>
</div>
