<div class="container headshot shadow-lg" style="background-image: url(<%= cl_image_path performer.performer_profile.photo.key, height: 300, width: 400, crop: :fill %>)">
  <div class="container performer-bio">
    <div class="row nopadding">
      <div class="col-sm col-lg-12 text-center performer-name">
        <%= performer.performer_profile.stage_name %>
      </div>
    </div>
    <div class="row nopadding">
      <div class="col-sm col-lg-12 text-center">
        <p></p>
      </div>
    </div>
  </div>
</div>
