<div class="btn-toolbar follow-btn-position" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-2" role="group" aria-label="Second group">
    <a class="btn btn-success follow-btn text-white" href="#"><%= is_mine ? 'My Tips' : 'Follow' %></a>
  </div>
</div>
