<div class="btn-toolbar follow-btn-position" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group" role="group" aria-label="Second group">
    <% if is_mine %>
        <%= link_to 'Create an Event' , new_event_path, class: "btn btn-success follow-btn text-white"  %>
      <% else %>
        <a class="btn btn-success follow-btn text-white" href="#">Follow</a>
    <% end %>

  </div>
</div>
