<div class="btn-toolbar performer-show-btn-positio mt-4" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group" role="group" aria-label="Second group">
    <a class="btn btn-left" href="#"><%= is_mine ? 'Events' : 'Reviews' %></a>
    <a class="btn btn-right" href="#"><%= is_mine ? 'Tips' : 'Contact' %></a>
  </div>
</div>
