<div class="btn-toolbar performer-show-btn-position" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-2" role="group" aria-label="Second group">
    <a class="btn btn-left" href="#"><%= is_mine ? 'Past' : 'Reviews' %></a>
    <a class="btn btn-right" href="#"><%= is_mine ? 'Upcoming' : 'Content' %></a>
  </div>
</div>
