.card-trip {
  margin-top: 1rem;
  background: white;
  position: relative;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  .card-trip-button {
    position: absolute;
    bottom: 16px;
    left: 16px;
    z-index: 2;
    margin: 0 auto;
    display: none;
    opacity: .8;
  }
}

.card-trip > img {
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 12px 16px 64px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  background: linear-gradient(rgba(0,0,0,0.5), transparent);

  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  color: white;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: -8px;
  top: -8px;
  width: 40px;
}
