h1 {
  font-size: 44px;
  font-style: italic;
  font-weight: 500;
  text-shadow: 2px 2px 8px #000;
  color: #fafafa;
}

h4 {
  font-weight: 500;
  text-shadow: 2px 2px 8px #000;
  color: #fff;
}


.navbar {
  padding: 1rem 3rem;
}
