.mapboxgl-popup {
  max-width: 200px;
  border-radius: 50%;
  padding-bottom: 25px;
}

.mapboxgl-popup-content {
  background-color: transparentize($success, 0.2) !important;
  padding-bottom: 10px !important;
  color: white;
}
.mapboxgl-popup-tip {
  border-top-color: transparentize($success, 0.2) !important;
}

.mapboxgl-popup-close-button {
  display: none;
}


.mapboxgl-popup-content {
  text-align: center;
  font-family: "Work Sans", "Helvetica", "sans-serif";
  // font-family: 'Courier New', monospace;
  // font-family: 'Times New Roman', serif;
  // font-family: 'Comic Sans', Comic Sans MS, cursive;
}

.map-carousel {
  position: absolute;
  bottom: 58px;
  left: 0;
  right: 0;

  .slick-slide {
    opacity: 0.5;
    transform: scale(0.8);
    transition: transform 0.25s, opacity 0.25s;

    &.slick-center {
      opacity: 1;
      transform: scale(1);

      .card-trip-button {
        display: block;
      }
    }
  }
}
