.follow-btn {
  color: black;
  background-color: #008080;
  height: 60px;
  width: 240px;
  padding: 12px 24px;
  border-radius: 10px;
  font-weight: lighter;
  margin: 0px;
}
.follow-btn:hover,
.follow-btn:hover {
  color: black;
  opacity: .9;
}
.follow-btn-position {
  position: absolute;
  bottom: 25%;
  left: 20%;
  z-index: 1;

}
