.btn-left {
  color: #fff;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 10px 10px 10px 10px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin: 0px;
}
.btn-right {
  color: #fff;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 10px 10px 10px 10px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin: 0px;
}
.btn-left:hover,
.btn-right:hover {
  color: white;
  opacity: .3;
}
.performer-show-btn-position {
  position: absolute;
  bottom: 32px;
  left: 20%;
}
