<p class= "ml-2">Tip
<%= link_to "$2"   , performer_profile_tips_path(performer_profile, tip: { amount: 2 }), class: "ml-2 px-4 btn btn-success", method: :post %>
<%= link_to "$5"   , performer_profile_tips_path(performer_profile, tip: { amount: 5 }), class: "ml-1 px-4 btn btn-success", method: :post %>
<%= link_to "$10"  , performer_profile_tips_path(performer_profile, tip: { amount: 10 }), class: "ml-1 px-4 btn btn-success", method: :post %>
<%= link_to "Other", performer_profile_tips_path(performer_profile, tip: { amount: nil }), class: "ml-1 px-4 btn btn-success", method: :post %>
</p>
