<div class="desktop">
  <div class="container text-center w-75 mt-4">
    <h2>Check us out on mobile!</h2>
    <p>Sorry, Streemer's interface only supports mobile devices at the moment.</p>
  </div>
</div>
